body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.form-box {
    background-color: #fff;
    border-radius: 8px;
    //cria uma borda arredondada
    box-shadow: 0 4px 6px #000;
    padding: 20px;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="number"] {
    width: 70px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 75%;
    padding: 10px;
    background-color: #2b0e9e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

// Ao passar o mouser em cima, muda a cor.
button:hover {
    background-color: #0056b3;
}

.result-display {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#result {
    font-weight: bold;
}